<div class="row room-list-item">
    <div class="col-6 title">
        <span class="font-weight-bold">Title: </span>
        <span>{{room?.name}}</span>
    </div>
    <div class="col-6 created-by">
        <span class="font-weight-bold">Created By: </span>
        <span>{{room?.creator?.username}}</span>
    </div>
    <div class="col-8 description">
        <ng-container *ngIf="room?.description">
            <span class="font-weight-bold">Description: </span>
            <span>{{room?.description}}</span>
        </ng-container>
    </div>
    <div class="col-4 button">
        <button mat-stroked-button type="button" (click)="buttonClicked($event)">
            {{buttonText}}
        </button>
    </div>
</div>