<div class="row">
    <div class="col-12">
        <button mat-stroked-button type="button" (click)="goToLogin()">
            Go to Login
        </button>
    </div>
</div>
<div class="container">
    <mat-card class="mt-3">
        <mat-card-content>
            <div class="row">
                <mat-card-title class="col-12">
                    New Password
                </mat-card-title>
                <form class="col-12" [formGroup]="form" (ngSubmit)="setNewPassword()">
                    <div class="row">
                        <mat-form-field class="col-sm-6 col-12 py-1">
                            <input matInput type="password" id="password" placeholder="New Password"
                                formControlName="password" autocomplete="off">
                            <mat-error *ngIf="password.touched && password.hasError('required')">
                                New password is required
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="col-sm-6 col-12 py-1">
                            <input matInput type="password" id="passwordConfirm" placeholder="Confirm New Password"
                                formControlName="passwordConfirm" autocomplete="off">
                            <mat-error
                                *ngIf="passwordConfirm.touched && passwordConfirm.hasError('required')">
                                Confirmed new password is required
                            </mat-error>
                        </mat-form-field>

                        <div *ngIf="passwordConfirm.touched && form.hasError('passwordsNotMatching')"
                            class="col-12">
                            <mat-error>
                                <small>Passwords are not matching</small>
                            </mat-error>
                        </div>

                        <div class="col-sm-8 col-12 pt-2">
                            <mat-hint *ngIf="!form.valid">
                                <small>Please fill out all required information.</small>
                            </mat-hint>
                        </div>

                        <div class="col-sm-4 col-12 pt-2 text-right">
                            <button mat-stroked-button color="primary" type="submit" [disabled]="!form.valid">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>