// width
@for $width from 0 through 100 {
    .min-w-#{$width} {
        min-width: ($width *1%) !important;
    }
}

@for $width from 0 through 500 {
    .min-w-#{$width}px {
        min-width: #{$width}px !important;
    }
}

@for $width from 0 through 100 {
    .max-w-#{$width} {
        max-width: ($width *1%) !important;
    }
}

@for $width from 0 through 500 {
    .max-w-#{$width}px {
        max-width: #{$width}px !important;
    }
}
@for $width from 0 through 100 {
    .w-#{$width} {
        width: ($width *1%) !important;
    }
}

@for $width from 0 through 500 {
    .w-#{$width}px {
        width: #{$width}px !important;
    }
}

// height
@for $height from 0 through 100 {
    .min-h-#{$height} {
        min-height: ($height *1%) !important;
    }
}

@for $height from 0 through 500 {
    .min-h-#{$height}px {
        min-height: #{$height}px !important;
    }
}

@for $height from 0 through 100 {
    .max-h-#{$height} {
        max-height: ($height *1%) !important;
    }
}
@for $height from 0 through 500 {
    .max-h-#{$height}px {
        max-height: #{$height}px !important;
    }
}
@for $height from 0 through 100 {
    .h-#{$height} {
        height: ($height *1%) !important;
    }
}

@for $height from 0 through 500 {
    .h-#{$height}px {
        height: #{$height}px !important;
    }
}

// font size
@for $size from 0 through 100 {
    .font-size-#{$size}px {
        font-size: #{$size}px !important;
    }
}