@import './mixins.scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content-container {
    max-width: 550px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.overflow-y-scroll {
    overflow-y: scroll;
}