@import './mixins.scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content-container {
    height: 100%;
    max-width: 550px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

// override mat button padding
.mat-button-base {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

// override form field padding
mat-form-field {
    &.mat-form-field-invalid {
        padding-bottom: 15px;
    }

    .mat-form-field-infix {
        width: 100%;
    }
}


.text-underline {
    text-decoration: underline;
}

.line-break {
    width: 100%;
    border-width: 5px;
}