<div class="d-flex flex-column pb-2">
    <div class="d-flex flex-shrink-1">
        <div class="flex-grow-1 align-self-end">
            <h5 class="m-0">My Rooms</h5>
        </div>
        <div id="CreateNewRoom" class="d-flex text-right">
            <button mat-stroked-button type="button" (click)="goToCreateRooms()">
                <div class="d-flex">
                    <div>New Room</div>
                    <div class="pb-1">
                        <app-icon icon="add"></app-icon>
                    </div>
                </div>
            </button>
        </div>
    </div>
    <div id="PublicRooms" class="flex-grow-1 pt-3">
        <mat-card>
            <mat-card-content>
                <ng-container *ngIf="paginatedRooms?.items?.length > 0 else noRooms">
                    <div class="row" *ngIf="paginatedRooms?.items?.length > 0; else noRooms">
                        <div *ngFor="let room of paginatedRooms?.items" class="col-12 py-2">
                            <app-room-list-item [room]="room"></app-room-list-item>
                        </div>
                        <mat-paginator [length]="paginatedRooms?.meta?.totalItems"
                            [pageIndex]="paginatedRooms?.meta?.currentPage"
                            [pageSize]="paginatedRooms?.meta?.itemsPerPage" (page)="onPaginateRooms($event)"
                            [pageSizeOptions]="[5,10,25,50]"></mat-paginator>
                    </div>
                </ng-container>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<ng-template #noRooms>
    <div>No rooms were found</div>
</ng-template>