<div *ngIf="chatRoom; else noChatRoomSelected">
    <!-- header -->
    <div style="height: 125px;">
        <span style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
            <h2>{{chatRoom.title}}</h2>
            <span style="display: flex; flex-direction: row; align-items: center;">
                <app-icon icon="event"></app-icon>
                <p style="margin-left: 10px;">{{chatRoom.updatedAt | date}}</p>
            </span>
        </span>
        <span>
            <h3 style="color: grey;">{{chatRoom.description}}</h3>
            <span *ngFor="let addedUser of chatRoom.users; let last = last;">
                {{addedUser.user.username}}{{last? '':', '}}
            </span>
        </span>
    </div>
    <!-- messages -->
    <div #messages style="background-color: lightgray; height: 400px; overflow-y: scroll;">
        <span *ngFor="let message of paginatedMessages?.items">
            <app-chat-message [message]="message"></app-chat-message>
        </span>
    </div>
    <!-- add message -->
    <div style="position: absolute; bottom: 0; display: flex; flex-direction: row; align-items: center;">
        <mat-form-field color="accent" style="width: 350px;">
            <input matInput type="text" [formControl]="chatMessage">
        </mat-form-field>
        <button mat-button [disabled]="!chatMessage.valid" (click)="sendMessage()">
            <span style="display: flex; flex-direction: row; align-items: center;">
                <app-icon icon="send" style="margin-left: 20px;"></app-icon>
                <p style="margin-left: 10px;">Send</p>
            </span>
        </button>
    </div>
</div>

<ng-template #noChatRoomSelected>
    <mat-error>No Chatroom Selected</mat-error>
</ng-template>