.container{
    display:flex;
    justify-content: center;
    margin: 20px;
    min-width: 350px;

    mat-card{
        position: fixed;
        margin: 20px;

        .roomsList{
            height: 500px;
            width: 250px;
            overflow-y: auto;
        }

        .openRoom{
            margin-left: 40px;
            width: 600px;
        }
    }
}
     