<mat-card>
    <mat-card-content>
        <div class="row">
            <mat-card-title class="col-12">
                Create Room
            </mat-card-title>

            <form class="col-12" [formGroup]="form" (ngSubmit)="create()">
                <div class="row">
                    <mat-form-field color="accent" class="col-12">
                        <input matInput type="text" id="RoomTitle" placeholder="Room Title" formControlName="title">
                        <mat-error *ngIf="title.touched && title.hasError('required')">
                            Room title is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field color="accent" class="col-12">
                        <input matInput type="text" id="description" placeholder="Description" formControlName="description">
                    </mat-form-field>

                    <div class="col-12">
                        <app-select-users [users]="users.value" (addUser)="addUser($event)"
                            (removeUser)="removeUser($event)">
                        </app-select-users>
                    </div>

                    <div class="col-12">
                        <mat-hint *ngIf="!form.valid">
                            <small>Please fill out all required information</small>
                        </mat-hint>
                    </div>

                    <div class="col-12 text-center">
                        <button mat-stroked-button color="primary" type="submit" [disabled]="!form.valid">
                            Create Room
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>