<div class="container">
    <mat-card class="mt-3">
        <mat-card-content>
            <div class="row">
                <mat-card-title class="col-12">
                    Login
                </mat-card-title>

                <form class="col-12" [formGroup]="form" (ngSubmit)="login()">
                    <div class="row">
                        <mat-form-field color="accent" class="col-12">
                            <input matInput id="Email" type="email" placeholder="Email" formControlName="email">
                            <mat-error *ngIf="email.touched && email.hasError('required')">
                                Email is required
                            </mat-error>
                            <mat-error *ngIf="email.touched && email.hasError('email')">
                                Email is not valid
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field color="accent" class="col-12 pb-2">
                            <input matInput id="Password" type="password" placeholder="Password"
                                formControlName="password">
                            <mat-error *ngIf="password.touched && password.hasError('required')">
                                Password is required
                            </mat-error>
                        </mat-form-field>

                        <div class="col-sm-8 col-12 pr-sm-0 pb-sm-0 pb-2">
                            <mat-hint *ngIf="!form.valid">
                                <small>Please fill out all required information</small>
                            </mat-hint>
                        </div>

                        <div class="col-sm-4 col-12 text-sm-right text-center">
                            <button mat-stroked-button color="primary" type="submit" [disabled]="!form.valid">
                                Login
                            </button>
                        </div>
                    </div>
                </form>

                <div class="col-sm-6 col-12 text-sm-left text-center pt-2">
                    <button mat-stroked-button color="warn" type="button" (click)="goToForgotPassword()">
                        Forgot Password?
                    </button>
                </div>

                <div class="col-sm-6 col-12 text-sm-right text-center pt-2">
                    <button mat-stroked-button type="button" (click)="goToCreateAccount()">
                        Create account
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>