<div class="vh-100 d-flex flex-column">
    <div *ngIf="!isMobileSize" id="Header" class="w-100 flex-shrink-1 h-60px">
        <app-page-header class="h1-00"></app-page-header>
    </div>
    <div class="flex-grow-1 overflow-y-scroll">
        <div class="content-container">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div *ngIf="isMobileSize" id="Footer" class="row mx-0 w-100 flex-shrink-1 min-h-60px">
        <app-page-footer class="w-100 h-100"></app-page-footer>
    </div>
</div>