<div class="container">
    <mat-card class="mt-3">
        <mat-card-content>
            <div class="row">
                <mat-card-title class="col-12 text-center">
                    Password Reset Complete!
                </mat-card-title>

                <div class="col-12 text-center">
                    <mat-icon>check_circle_outline</mat-icon>
                </div>

                <div class="offset-sm-3 col-sm-6 offset-1 col-10 text-center">
                    <mat-hint>
                        Next time you log in, you will need to use your flashy new password.
                    </mat-hint>
                </div>

                <div class="col-12 text-center pt-2">
                    <button mat-stroked-button color="primary" type="button" (click)="goToLogin()">
                        Go to Login
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>